{% extends "base.html" %}

{% block title %}
Add Book
{% endblock %}

{% block content %}
<form method="POST">
    <div class="row mt-3 mb-3">
        <label for="title" class="col-2 col-form-label">Title</label>
        <div class="col-6">
            <input type="text" name="title" id="title" class="form-control" placeholder="Book Title" required />
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <label for="author" class="col-2 col-form-label">Author</label>
        <div class="col-6">
            <input type="text" name="author" id="author" class="form-control" placeholder="Author" required />
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <label for="category_id" class="col-2 col-form-label">Category</label>
        <div class="col-6">
            <div class="input-group">
                <select class="custom-select" name="category_id" id="category_id" required>
                    {% for id, name in categories %}
                    <option value="{{ id }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="offset-2 col-6">
            <button class="btn btn-success" type="submit" name="btnCreate" id="btnCreate">Add</button>
        </div>
    </div>
</form>

<div>
    <a href="{{ url_for('book.home') }}">Back to Books</a>
</div>
{% endblock %}