{% extends "base.html" %}

{% block title %}
Edit Category
{% endblock %}

{% block content %}
<form action="/category/edit/{{ category[0] }}" method="POST">
    <div class="row mt-3 mb-3">
        <label for="name" class="col-2 col-form-label">Name</label>
        <div class="col-6">
            <input type="text" name="name" id="name" class="form-control" placeholder="Category Name" value="{{ category[1] }}" required/>
        </div>
    </div>
    <div class="row">
        <div class="offset-2 col-6">
            <button class="btn btn-success" type="submit" name="btnUpdate" id="btnUpdate">Update</button>
        </div>
    </div>
</form>

<div>
    <a href="{{ url_for('category.home') }}">Back to Categories</a>
</div>
{% endblock %}